header{
    background-color: cadetblue;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    .imagemcabeçario{
        width: 6%;
        border-radius: 50%;
    }
    
}
